@if (authService.isLoggedIn()) {
    <header class="main-header-fb">
        <div class="header-left">
            <div class="logo">
                <i class="fa-solid fa-car-on"></i>
            </div>
        </div>
        
        <nav class="main-nav-fb">
            <ul>
                <li>
                    <a routerLink="/inicio" 
                        routerLinkActive="active" 
                        title="Modelos">
                        <span>Modelos</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/usados" 
                        routerLinkActive="active" 
                        title="Usados">
                        <span>Usados</span>
                    </a>
                </li>
                
                @if (authService.isAdmin()) {
                    <li>
                        <a routerLink="/admin/pendientes" routerLinkActive="active" title="Publicaciones Pendientes">
                            <span>Pub. Pendientes</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/admin/reservas" routerLinkActive="active" title="Administrar Reservas">
                            <span>Adm. Reservas</span>
                        </a>
                    </li>
                }

                <li>
                    <a routerLink="/perfil" 
                        routerLinkActive="active" 
                        title="Perfil">
                        <span>Perfil</span>
                    </a>
                </li>
            </ul>
        </nav>
        
        <div class="header-right">
            <button class="search-toggle" title="Buscar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </header>
}